.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    height: fit-content;
    padding: 2vh;
    box-sizing: border-box;
    background-color: black;
    margin-bottom: 0;
    position: relative;
}
.logo {
    font-weight: bold;
    font-size: 5vh;
    color: red;
}
.logo a {
    color: red;
    text-decoration: none;
}
.logo a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 991px) {
    #copyright{
        display: none;
    }
    .bottom{
        justify-content: center;
    }
}