*{
    color: red;
    font-family: sans-serif;
    
}
body{
    background-image: url(../src/assets/1416117-black-and-gray-backgrounds-1080x1920-for-macbook.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
    
    .allCardsInIt {
        /* background-image: url(../src/assets/1416117-black-and-gray-backgrounds-1080x1920-for-macbook.jpg); */
        overflow-x: hidden;
        width: 90%;
        height: fit-content;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 auto;
        margin-top: 20vh;
}
@media screen and (max-width: 991px) {}